<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.4">
  <display-name>jn_spark_online</display-name>
  <description>SparkOnline接口与管理平台</description>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>3</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/welcome_page/index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>300</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>SyncServlet</servlet-name>
    <servlet-class>com.easecom.common.util.SyncServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServPreloadHibernate</servlet-name>
    <servlet-class>
			com.easecom.common.framework.hibernate.ServPreloadHibernate</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>com.easecom.common.util.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.easecom.common.util.RequestListener</listener-class>
  </listener>
  <filter>
    <filter-name>login</filter-name>
    <filter-class>com.easecom.common.util.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>login</filter-name>
    <url-pattern>/base/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>pagerParamsFilter</filter-name>
    <filter-class>com.easecom.common.filter.PagerParamsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>pagerParamsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>CurrentPageFilter</filter-name>
    <filter-class>com.easecom.common.filter.CurrentPageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CurrentPageFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>

  <error-page>
    <error-code>404</error-code>
    <location>/include/error404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/include/error500.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.NullPointerException</exception-type>
    <location>/include/error500.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>upLoadPic</servlet-name>
    <servlet-class>com.easecom.manage.web.UpPicServlet</servlet-class>
  </servlet>

  <!--<servlet>
    <servlet-name>TbMessageSchedule</servlet-name>
    <servlet-class>com.business.Dlb.Message.TbMessageSchedule</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>-->
  <servlet-mapping>
    <servlet-name>upLoadPic</servlet-name>
    <url-pattern>/upLoadPic</url-pattern>
  </servlet-mapping>
</web-app>